*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgba(221, 221, 221, 1);
}
section{
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.div-name{
    width: 90%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgba(6, 17, 60, 1);
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 25px;
    
}
.name {
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.div-info{
    margin-top: 15px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100%-20px);
    height: fit-content;
}

.info{
    width: 50%;
    height: fit-content;
    padding-top: 15px;
    float: left;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: right;
    background-color: rgb(255, 139, 44);
}

.info ul li{
    list-style: none;
    margin-bottom: 20px;
}
.info-text{
    padding-left: 10px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
}
.bold{
    color: wheat;
    font-weight: bold;
}
.info input{
    background-color: rgb(255, 139, 44);
    border: solid 2px white;
    width: 40%;
    color: white;
    
}
.info select{
    background-color: rgb(255, 139, 44);
    border: solid 2px white;
    width: 40.5%;
    color: white;
    font-weight: bold;
}
.visits{
    text-align: center;
    float: left;
    width: 40%;
}
.visits button{
    font-size: 25px;
    padding: 10px;
    background-color: rgba(221, 221, 221, 1);
    border-radius: 7px;
    border-color: #8b8b8b;
}
.visits .button{
    font-size: 25px;
    padding: 10px;
    background-color: rgba(221, 221, 221, 1);
    border-radius: 7px;
    border-color: #8b8b8b;
}
.visits button:hover{
    background-color: rgb(199, 199, 199);
}

.left{
    float: left;
}